html body {
	padding: 0;
	margin: 0;
	background-color: #e7e6e1;
}

/* Use OS default fonts */
body {
	font-family: -apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen-Sans,
		Ubuntu,
		Cantarell,
		'Helvetica Neue',
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji',
		'Segoe UI Symbol';
	text-rendering: optimizeLegibility;
	font-feature-settings: 'liga', 'clig', 'kern';
	overflow: hidden;
}

#app_container {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 1vh 1vw;
}

#control_row {
	display: flex;
	flex-direction: row;
	margin-top: 1vh;
}

#f_column {
	width: 35%;
}

#s_column {
	width: 63%;
	overflow-y: auto;
	height: 100vh;
	background-color: #f6f5f2;
}

.choosen {
	background-color: blueviolet;
	color: #fff;
}

.current {
	border: solid 2px black;
}

#previev {
	display: flex;
	height: 23vh;
	width: 24vw;
	position: relative;
	margin: 0vh 1vw 1vh 0vw;
	background-color: #000;
}

#video_previev_div {
	display: none;
	position: absolute;
	margin: 0;
	left: 0%;
	background-color: black;
	height: 23vh;
	width: 24vw;
}

#video_previev_tag {
	display: block;
	margin-right: auto;
	height: 23vh;
	width: 24vw;
}

#image_previev_div {
	display: none;
	position: absolute;
	margin: 0;
	left: 0%;
	background-color: black;
	height: 23vh;
	width: 24vw;
}

#image_previev_tag {
	display: block;
	margin-right: auto;
	height: 23vh;
	width: 24vw;
}

li {
	display: flex;
	flex-direction: row;
	width: 100%;
	margin-bottom: 1vh;
}

#item_list {
	margin-top: 2vh;
	margin-bottom: 1vh;
}

.itemDesc {
	width: 85%;
	margin-right: 2%;
}

.itemDesc p {
	font-size: 2vh;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 4vh;
	margin-top: auto;
	margin-bottom: auto;
}

.itemButo {
	width: 10%;
	display: flex;
	flex-direction: row;
}

.itemButo button {
	margin-right: 0.5vw;
	height: 4vh;
	width: 2vw;
	font-size: 2.5vh;
	justify-content: center;
	display: flex;
}

#prev,
#play_pause_button,
#stop,
#next {}

.style_option_div {
	display: flex;
	justify-content: space-between;
}

.style_option_span {
	width: 8vw;
}

.style_option_value {
	width: 5vw;
}

#styling_modal .modal-dialog .modal-content {
	width: 60% !important;
}

#add_timer_modal .modal-dialog .modal-content {
	width: 58% !important;
}

#add_timer_modal {
	width: 105% !important;
	top: 24vh;
}

#styling_modal {
	width: 105% !important;
	top: 24vh;
}

.btn-controlwindow {
	background-color: #f5f5f5 !important;
}

#image_timer {
	width: 3vw;
	margin-right: 0.5vw;
}

.btn-itemlisbutt {
	background-color: #fff !important;
	border-style: solid !important;
	border-color: #000 !important;
	border-width: 1px !important;
}
