html {
	background-color: #000;
}

body {
	margin: 0 0 0 0;
	overflow-x: hidden;
	overflow-y: hidden;
}

#container {
	height: 100vh;
	position: relative;
}

#video_div {
	display: none;
	margin: 0px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#video_tag {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-height: 100vh;
}

#image_div {
	display: none;
	margin: 0px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#image_tag {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-height: 100vh;
}
